@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

@tailwind base;
@tailwind components;
@tailwind utilities;



// @include md {
//   font-size: 10px;
// }

body {
  background: #112;
}

.nav-button {
  box-sizing: content-box;
  padding-top: 3px;
  width: 50px;
  height: 2px;
  color: #fff;
  cursor: default;
  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #2e5180;
    cursor: default;
  }
}

.nav-button2 {
  box-sizing: content-box;
  padding-top: 3px;
  width: 50px;
  height: 2px;
  color: #fff;
  cursor: default;
  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #888;
    cursor: default;
  }
} 

.hover {
  position: absolute;
  width: 100vw;
  height: 12vh;
  overflow: hidden;
  .hover-img {
    margin: 0;
    padding: 0; 
    img {
      width: 100%;
      height: 100%;
    }
  }
  .hover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    /*透明にして表示させない*/
    opacity: 0;
    /*ホバーの動き方*/
    transition: 0.3s ease-in-out;
    .text1 {
      font-size: 14px;
      padding: 0 20px 0px;
    }
  }
  &:hover .hover-text {
    /*不透明にして表示*/
    opacity: 1;
    /*padding-topで上からスライド*/
    padding-top: 1vh;
  }
}

.hover2 {
  position: absolute;
  width: 100vw;

  .hover-img2 {
    margin: 0;
    padding: 0;
  }
  .hover-text2 .text2 {
    font-size: 12px;
    padding: 0 20px 0px;
  }
}


.hover-img2 img {
  width: 100%;
  height: 100%;
}

.hover2 .hover-text2 {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 75vh;
  top: 0px;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(1px);
  /*透明にして表示させない*/
  opacity: 1;
  /*ホバーの動き方*/
  transition: 0.3s ease-in-out;
}

.none {
  opacity: 0;
  filter: blur(8px);
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: -614px;
}

.blur-box {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 75vh;
  top: 0px;
  left: 0;
  color: #fff;
  background-color: rgba(156,156,186,0.2);
  filter: blur(18px);
  /*透明にして表示させない*/
  opacity: 1;
  /*ホバーの動き方*/
  transition: 1.2s ease-in-out;
}

// $media-md: 640px;

// @media screen and (max-width: $media-md) {
//   .hover .hover-text .text1 {
//     font-size: 10px;
//   }
//   .hover2 .hover-text2 .text2 {
//     font-size: 10px;
//   }
// }

.zigzag-timeline__item {
  /* Used to position the milestone */
  position: relative;

  /* Border */
  border-bottom: 1px solid #71717a;

  /* Take full width */
  width: 78%;
}

.zigzag-timeline__milestone {
  /* Absolute position */
  position: absolute;
  top: 50%;

  /* Circle it */
  border-radius: 50%;
  height: 2rem;
  width: 2rem;

  /* Misc */
  background: #71717a;
}

/* Styles for even items */
.zigzag-timeline__item:nth-child(2n) {
  border-left: 1px solid #71717a;
  margin-left: 0px;
}
.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
  left: 0;
  transform: translate(-50%, -50%);
}

/* Styles for odd items */
.zigzag-timeline__item:nth-child(2n + 1) {
  border-right: 1px solid #71717a;
}
.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
  right: 0;
  transform: translate(50%, -50%);
}
